.posts-container {
  // margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  // max-width: 700px;
  position: relative;
  flex-wrap: wrap;

  .post {
    // width: 100%;
    box-sizing: border-box;
    margin: 30px 3%;
    flex-wrap: wrap;
    width: 100%;
    // padding: 30px;
    // border: 1px solid red;
    // box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .Materialize(1);
    cursor: pointer;
    
    img {
      width: 100%;
    }
    
    h3 {
      // margin-bottom: 15px;
      padding: 15px 15px;
    }
    
    p {
      padding: 5px 15px;
      margin-bottom: 15px;
      max-height: 90px;
      overflow-y: hidden;
    }

    @media @desktop-up {
      width: 30%;
    }
  }
}

/* TEMP */
.post.post--focused {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top:0;
  left:0;
  margin: 0;
  background: #fcfcfc;
  z-index: 5;
  box-shadow: none;
}

.post.post--focused img {
  max-height: 600px;
}