.hero-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  color: @mono-light;
  font-size: 1.8rem;

  @media @phone-up {
    width: 75%;
  }

  @media @desktop-up {
    width: inherit;
    align-items: flex-start;
  }
}

.hero {
  background-image: 
    linear-gradient(fade(@primary-color, 70%), fade(@primary-color, 90%)),
    url('../assets/hero-img.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;

  &__title {
    margin: 20px 0;
  }

  &__cta {
    .Button();
    margin: 40px 0 0;
    border: none;
  }
}

.top-upsell-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media @desktop-up {
    flex-direction: row;
    margin: 60px auto;
  }
}

.upsell {
  .Upsell(left, center);

  &--reverse {
    .Upsell(right, center);

    &__content {
      padding-left: 0;
      padding-right: 15px;
    }
  }

  @media @desktop-up {
    .Upsell(top, center, center);

    &--reverse {
      .Upsell(top, center, center);
    }
  }
}

.how-to {
  background: @primary-color;
  color: @mono-light;
  font-size: 18px;
}

.how-to-container {
  flex-direction: column;
  padding-top: 30px;

  @media @phone-up {
    width: 75%;
  }

  @media @desktop-up {
    width: inherit;
    &__title {
      text-align: center;
    }
  }
}

.step {
  .Upsell();

  @media @desktop-up {
    .Upsell(top, center);
  }
}

.get-started {
  .Button();
  margin-bottom: 40px;
  
  @media @desktop-up {
    align-self: center;
    width: 30%;
  }
}

.footer {
  padding: 20px 0;
  background: @mono-medium;
  color: @mono-light;
  text-align: center;
}